<div class="login">
    <form role="form" id="loginForm" name="loginForm" ng-submit="vm.login()">
        <div id="loginDiv">
            <div id="headerDiv">
                <div>{{vm.formTitle}}</div>
            </div>
            <div class="animate-switch-container" ng-switch on="vm.selection">
                <div ng-switch-when="default" class="animate-switch">
                    <fieldset>

                        <md-input-container class="md-block">
                            <label>Usuário</label>
                            <input id="username" name="username" type="text" class="form-control" ng-model="vm.username" required>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label>Senha</label>
                            <input id="password" name="password" type="password" class="senha form-control" ng-model="vm.password" required/>
                        </md-input-container>

                        <div id="loginControl" layout="row" layout-align="center center">
                            <md-button class="md-raised" type="submit" name="submit" value="Entrar" ng-disabled="loginForm.$invalid || vm.dataLoading">Entrar</md-button>
                        </div>
                    </fieldset>
                    <a ng-click="vm.showRecover()" class="recover-link" ng-show="!vm.dataLoading">Recuperar senha</a>
                </div>
                <div ng-switch-when="recover" class="animate-switch">
                    <fieldset>
                        <md-input-container class="md-block">
                            <input id="usernameRecover" name="usernameRecover" type="text" class="form-control" placeholder="Usuário" ng-model="vm.username" required/>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <input id="email" type="text" class="form-control" placeholder="E-mail" ng-model="vm.email" required/>
                        </md-input-container>
                        <div id="loginRecover" layout="row" layout-align="center center">
                            <div class="btn-group">
                                <md-button class="btn btn-default" type="submit" name="submit" value="Confirmar" ng-disabled="loginForm.$invalid || vm.dataLoading" ng-click="vm.recover()">Confirmar</md-button>
                            </div>
                        </div>
                    </fieldset>
                    <a ng-click="vm.showLogin()" class="recover-link">Login</a>
                </div>
                <div ng-switch-when="redefine" class="animate-switch">
                    <fieldset>
                        <md-input-container class="md-block">
                            <input id="usu_senha_atual" name="usu_senha_atual" ng-model="vm.usu_senha_atual" class="form-control" type="password" placeholder="Senha atual" required ng-keyup="vm.redefineForm()" />
                            <small ng-show="loginForm.usu_senha_atual.$error.confirm" class="error">Senha atual incorreta</small>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <input id="usu_senha" name="usu_senha" ng-model="vm.usu_senha" class="form-control" type="password" placeholder="Nova senha" required ng-minlength="8" ng-keyup="vm.redefineForm()">
                            <small ng-show="loginForm.usu_senha.$error.minlength" class="error">A senha deve ter no mínimo 8 caracteres</small>
                            <small ng-show="loginForm.usu_senha.$error.equal" class="error">A senha deve diferente da atual</small>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <input id="usu_senha_confirmar" name="usu_senha_confirmar" ng-model="vm.usu_senha_confirmar" class="form-control" type="password" placeholder="Confirmar nova senha" required ng-minlength="8" ng-keyup="vm.redefineForm()">
                            <small ng-show="loginForm.usu_senha_confirmar.$error.confirm" class="error">Senha não confere</small>
                        </md-input-container>
                        <div layout="row" layout-align="center center">
                            <div class="btn-group">
                                <md-button class="btn btn-default" type="submit" name="submit" value="Salvar" ng-click="vm.redefine()">Salvar</md-button>
                            </div>
                        </div>
                    </fieldset>
                    <a ng-click="vm.showLogin()" class="recover-link">Cancelar</a>
                </div>
                <span class="login-message">{{vm.loginMessage}}</span>
            </div>
        </div>
    </form>
</div>